.custom-column-min {
    min-width: 80px;
    max-width: 120px;
}
.custom-column-max {
    min-width: 500px;
    max-width: 700px;
}
.custom-column-tool {
    min-width: 80px;
    max-width: 100px;
}

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.blinking-button {
    animation: blink 1.5s infinite; /* 调整动画持续时间和重复次数 */
}