.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.custom-modal {
    background: white;
    border-radius: 5px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.custom-modal-header {
    padding: 16px;
    border-bottom: 1px solid #e8e8e8;
}

.custom-modal-header h2 {
    margin: 0;
    font-size: 18px;
}

.custom-modal-body {
    padding: 16px;
}

.custom-modal-footer {
    padding: 16px;
    text-align: right;
    border-top: 1px solid #e8e8e8;
}

.custom-modal-button {
    padding: 8px 16px;
    margin-left: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-modal-button-ok {
    background-color: #1890ff;
    color: white;
}

.custom-modal-button:hover {
    opacity: 0.9;
}

.custom-modal-button-ok:hover {
    background-color: #40a9ff;
}
