/* 为所有滚动条设置样式 */
::-webkit-scrollbar {
    width: 10px; /* 设置滚动条的宽度 */
    height:10px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background: transparent; /* 滚动条轨道的背景颜色 */
    border-radius: 10px;
}

/* 滚动条的设置 */
::-webkit-scrollbar-thumb {
    background: transparent; /* 滚动条的颜色 */
    border-radius: 10px;
}

/* 当鼠标悬停在滚动条上时 */
::-webkit-scrollbar-thumb:hover {
    background: #c2c1c1; /* 滚动条的颜色 */
}

.router-content {
    height: calc(100vh - 65px); /* 计算剩余空间的高度 */
    overflow-y: auto; /* 添加纵向滚动条 */
}
.router-content-table{
    height: calc(100vh - 120px); /* 计算剩余空间的高度 */
    overflow-y: auto; /* 添加纵向滚动条 */
}

/* 滚动条整体部分 */
.scrollbar {
    overflow: auto; /* 或者使用 scroll ，这样滚动条就一直显示 */
    scrollbar-color: transparent transparent; /* 滚动条的颜色 */
    scrollbar-width: thin; /* 滚动条的宽度 */
}

.scrollbar:hover {
    overflow: auto; /* 或者使用 scroll ，这样滚动条就一直显示 */
    scrollbar-color: #c2c1c1 #f3f3f3; /* 滚动条的颜色 */
    scrollbar-width: thin; /* 滚动条的宽度 */
}

/* 滚动条轨道 */
.scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px; /* 滚动条的滑块的边角半径 */
}

/* 滚动条的滑块 */
.scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px; /* 滚动条的滑块的边角半径 */
}

/* 滚动条的内阴影 */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c2c1c1;
}